@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

@import "./navigation.scss";
@import "./schedule.scss";


$red-color: #D0022B;
$link-color: #868986;
$secondary-background: #f2f2f2;
$footer-color: #fcfcfc;

/*-----MAIN-------------*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
  // font-family: 'Lora',serif;
  font-size: 18px;
  line-height: 26px;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $link-color;
}

/*-----TYPOGRAPHY-------*/

h1 {
  text-transform: uppercase;
  // font-family: Tahoma, sans-serif;
  margin: 0;
  font-size: 1.5em;
  line-height: 1.6em;
  white-space: nowrap;
}


/*-----NAVIGATION-------*/

/*-----navigation-------*/


/*-----header-----------*/

.header {
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: no-wrap;
  align-content: center;
  background-color: $red-color;
  width: 12.75em;
  height: 60px;
  z-index: 500;
  position: fixed;

}

.header {
  input {
    outline: 0;
  }

  input:hover {
    opacity: 0.9;
  }
}

.home-link {
  color: white;
}

.home-link h2 {
  font-family: Tahoma, sans-serif;
  padding-right: 0em;
  width: 100%;
  font-size: 2rem;
}

.header .home-link h2:hover {
  opacity: 0.9;
}



/*-----sidebar----------*/

/*-----social-links-----*/

.social-links {
  position: absolute;
  bottom: 0;
  left: 5em;
  background: transparent;
}

.icons {
  text-decoration: none;
  background: transparent;
  width: 1.4em;
  height: 1.4em;
}

/*-----menu-button------*/
.menu-button {
  text-decoration: none;
  background: transparent;
  width: 2em;
  height: 2em;
}

/*-----CONTENT----------*/

.content {
  // min-height: 75vh;
  padding: 4em 5em 5em 5em;
  h1 {
    text-align: center;
  }

}

.page-header {
  color: $red-color;
}

.content .home-page {
  width: 100%;
  display: flex;
  min-height: 70vh;
  -webkit-flex-direction: row;
   flex-direction: row;
   justify-content: space-around;

   a {
     color: $red-color;
   }

   a:hover {
     opacity: 0.6;
   }
}

.content .home-page .left {
	width: 42%;
	height: auto;
  padding-top: 1em;
  // padding-top: 4.5em;
}

.content .home-page .right {
  width: 48%;
	height: auto;
}

img {
  max-width:100%;
}

.page-header-message {
  color: $red-color;
  padding-top: 2.5em;
  text-align: center;
  font-weight: bold;
}

/*-----contacts---------*/


/*-----shcedule---------*/



/*----calendar-page-----*/
.calendar-page {
  padding-top: 3em;

  #calendar {
    border-width:0;
    width: 100%;
    height:75vh;
    frameborder:0;
    scrolling: "no";
  }
}


/*-----FOOTER-----------*/

footer {
  text-transform: uppercase;
  padding: 2em 6em 0em 0em;
  min-height: 100px;
  font-size: 0.65em;

  a {
    color: $link-color;
  }

  background: $footer-color;

  display: flex;
  flex-directions: row;
  justify-content: spase-around;

  .contact-info {
    width: 25%;
    text-align: right;
  }

  .address {
    width: 25%;
    text-align: right;
  }

  .partners {
    width: 25%;
    text-align: right;
  }

  .partners-2 {
    width: 25%;
    text-align: right;
  }

}


/*-----MEDIA------------*/

@media only screen and (max-width : 414px) {
  .header {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: no-wrap;

  }

  .content {
    padding: 3.5em 0.5em  0.5em 0.5em;
  }

}

/* Смартфоны (портретный режим) ----------- */
@media only screen
and (max-width : 768px) {

  h1 {
    font-size: 17px;
    line-height: 24px;
  }

  .header {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: no-wrap;
  }

  .content {
      padding: 4em 0.5em  0.5em 0.5em;


    .home-page {
      width: 100%;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      align-content: center;

      .left {
       	width: 100%;
       	height: auto;
        padding-top: 1em;
      }

      .right {
        width: 100%;
       	height: auto;
        text-align: justify;
      }
    }
  }

}

/* Планшеты (портретный и альбомный режимы) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {

  h1 {
    font-size: 1.3em;
  }

  .content {
    padding: 2em 4em  2em 2em;

    .home-page {
      width: 100%;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      justify-content: space-around;

      .left {
       	width: 42%;
       	height: auto;

      }

      .right {
        width: 52%;
       	height: auto;
        text-align: left;
      }
    }
  }
}

@media only screen
and (min-width : 1024px)
and (max-width : 1366px) {

  h1 {
    font-size: 1.3em;
  }

  html, body {
    font-size: 1.05em;
  }

  .content {
    padding: 1em 5em  5em 5em;

    .home-page {
      width: 100%;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      justify-content: space-around;

      .left {
       	width: 46%;
       	height: auto;
        // padding-top: 2.5em;
      }

      .right {
        width: 46%;
       	height: auto;
        text-align: left;
      }
    }
  }
}

/* Большие экраны ----------- */
@media only screen
and (min-width : 1367px) {
  font-size: 1.5em;
  line-height: 2em;

  h1 {
    text-align: center;
  }

  .content {
    padding: 1em 16em 5em 16em;
    h1 {
      text-align: center;
      line-height: 1.5em;
    }
  }

  .content .home-page {
    font-size: 1.2em;
    width: 100%;
    display: flex;
    -webkit-flex-direction: row;
     flex-direction: row;
     justify-content: space-between;
  }

  .content .home-page .left {
  	width: 48%;
  	height: auto;
    padding-top: 1em;
    // padding-top: 4.5em;
  }

  .content .home-page .right {
    width: 48%;
  	height: auto;
    padding-top: 1.5em;
  }

  img {
    max-width:100%;
  }

  .page-header-message {
    color: $red-color;
    padding-top: 2.5em;
    text-align: center;
    font-weight: bold;
  }

}

@media only screen and (max-width: 768px) {

  .schedule-page   {
    padding: 1em 0.5em;
    margin: 0;
  }

  .schedule {
    width: 100%;
    margin: auto auto 2em auto;
    border-color: white;
    font-size: 0.8em;
  }

  .schedule-page .header-message h1 {
    font-size: 0.9em;
    color: $red-color;
  }

  .schedule-page  h2 {
    font-size: 0.9em;
    color: $red-color;
  }

  .schedule th {
    text-align: left;
    padding: 0;
    margin-bottom: 0;
  }
  .schedule th h3, h4 {
    color: $red-color;
    border-bottom: 1px solid;
  }

  .schedule h3 {
    font-size: 0.7em;
    font-weight: bold;
  }

  .schedule tbody td:first-child {
    text-align: center;
  }

  .schedule tr td:first-child {
    font-weight: bold;
    width: 15%;
  }

  .schedule td {
    padding: 0.5em;
  }

  .schedule td strong {
    text-transform: uppercase;
  }

  footer {
    font-size: 0.5em;
    flex-direction: column;
    padding: 0;

    .contact-info {
      width: 100%;
      text-align: center;
    }

    .address {
      width: 100%;
      text-align: center;

      .literal {
        display: none;
      }
    }

    .partners {
      display:none;
    }

    .partners-2 {
      display:none;
    }

  }
}
