@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

@import "./navigation.scss";
@import "./schedule.scss";
@import "./footer.scss";
@import "./calendar.scss";
@import "./ordinary.scss";
@import "./contacts.scss";
@import "./home.scss";

$red-color: #D0022B;
$link-color: #868986;
$secondary-background: #f2f2f2;
$footer-color: #fcfcfc;

/*-----MAIN-------------*/
html, body {
  height: 100%;
  font-family: 'PT Serif', serif;
  font-size: 18px;
  line-height: 26px;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $link-color;
}

/*-----TYPOGRAPHY-------*/

h1 {
  text-transform: uppercase;
  // font-family: Tahoma, sans-serif;
  margin: 0;
  font-size: 1.5em;
  line-height: 1.6em;
  white-space: nowrap;
  color: $red-color;
}

/*-----CONTENT----------*/

.content {
  // margin-bottom: 5em;
  min-height: 100%;
  padding: 0em 5em 5em 5em;

  h1 {
    text-align: center;
  }

  img {
    max-width:100%;
  }

  a {
    color: $red-color;
  }

  a:hover {
    opacity: 0.6;
  }

}



/*-----MEDIA------------*/

@media only screen and (max-width : 414px) {
  .content {
    padding: 3.5em 0.5em  0.5em 0.5em;
  }

}

/* Смартфоны (портретный режим) ----------- */
@media only screen
and (max-width : 768px) {

  h1 {
    font-size: 17px;
    line-height: 24px;
  }

  .content {
    padding: 4em 0.5em  0.5em 0.5em;

    .text-section {
      margin-bottom: 1em;
    }


  }

}

/* Планшеты (портретный и альбомный режимы) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {

  h1 {
    font-size: 1.3em;
  }

  .content {
    padding: 0em 4em  2em 2em;


  }
}

@media only screen
and (min-width : 1024px)
and (max-width : 1366px) {

  h1 {
    font-size: 1.8em;
  }

  html, body {
    font-size: 1.05em;
  }

  .content {
    padding: 0em 5em  5em 5em;

  }
}

/* Большие экраны ----------- */
@media only screen
and (min-width : 1367px) {

  font-size: 1.5em;
  line-height: 2em;

  h1 {
    text-align: center;
  }

  img {
    max-width:100%;
  }

  .content {
    padding: 0em 16em 5em 16em;
    h1 {
      text-align: center;
      line-height: 1.5em;

      .page-header-message {
        color: $red-color;
        padding-top: 2.5em;
        text-align: center;
        font-weight: bold;
      }


    }
  }
}

@media only screen
and (min-width : 1700px) {

  .content {
    padding-top: 0em;

    .text-section {
      margin-bottom: 6em;
    }

  }
}
