@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

@import "./navigation.scss";
@import "./schedule.scss";
@import "./footer.scss";
@import "./calendar.scss";
@import "./sacramentum.scss";
@import "./contacts.scss";


$red-color: #D0022B;
$link-color: #868986;
$secondary-background: #f2f2f2;
$footer-color: #fcfcfc;

/*-----MAIN-------------*/
html, body {
  height: 100%;
  font-family: 'PT Serif', serif;
  font-size: 18px;
  line-height: 26px;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $link-color;
}

/*-----TYPOGRAPHY-------*/

h1 {
  text-transform: uppercase;
  // font-family: Tahoma, sans-serif;
  margin: 0;
  font-size: 1.5em;
  line-height: 1.6em;
  white-space: nowrap;
  color: $red-color;
}

/*-----CONTENT----------*/

.content {
  // margin-bottom: 5em;
  min-height: 100%;
  padding: 4em 5em 5em 5em;

  .text-section {
    margin-bottom: 4em;
  }

  h1 {
    text-align: center;
  }

  img {
    max-width:100%;
  }

  a {
    color: $red-color;
  }

  a:hover {
    opacity: 0.6;
  }

}

#home-page {
  width: 100%;
  display: flex;
  // min-height: 70vh;
  -webkit-flex-direction: row;
   flex-direction: row;
   justify-content: space-around;

   .left {
     width: 42%;
     height: auto;
     padding-top: 1em;
   }

   .right {
     width: 48%;
     height: auto;
   }
}


/*-----MEDIA------------*/

@media only screen and (max-width : 414px) {
  .content {
    padding: 3.5em 0.5em  0.5em 0.5em;
  }

}

/* Смартфоны (портретный режим) ----------- */
@media only screen
and (max-width : 768px) {

  h1 {
    font-size: 17px;
    line-height: 24px;
  }

  .content {
    padding: 4em 0.5em  0.5em 0.5em;

    .text-section {
      margin-bottom: 1em;
    }

    #home-page {
      width: 100%;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      align-content: center;

      .left {
       	width: 100%;
       	height: auto;
        padding-top: 1em;
      }

      .right {
        width: 100%;
       	height: auto;
        text-align: justify;
      }
    }
  }

}

/* Планшеты (портретный и альбомный режимы) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {

  h1 {
    font-size: 1.3em;
  }

  .content {
    padding: 3em 4em  2em 2em;

    #home-page {
      width: 100%;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      justify-content: space-around;

      .left {
       	width: 42%;
       	height: auto;
        padding-top: 6em;
      }

      .right {
        width: 52%;
       	height: auto;
        text-align: left;
      }
    }
  }
}

@media only screen
and (min-width : 1024px)
and (max-width : 1366px) {

  h1 {
    font-size: 1.8em;
  }

  html, body {
    font-size: 1.05em;
  }

  .content {
    padding: 0em 5em  5em 5em;

    #home-page {
      width: 100%;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      justify-content: space-around;

      .left {
       	width: 46%;
       	height: auto;
      }

      .right {
        width: 46%;
       	height: auto;
        text-align: left;

      }
    }
  }
}

/* Большие экраны ----------- */
@media only screen
and (min-width : 1367px) {

  font-size: 1.5em;
  line-height: 2em;

  h1 {
    text-align: center;
  }

  img {
    max-width:100%;
  }

  .content {
    padding: 1em 16em 5em 16em;
    h1 {
      text-align: center;
      line-height: 1.5em;

      .page-header-message {
        color: $red-color;
        padding-top: 2.5em;
        text-align: center;
        font-weight: bold;
      }

      .home-page {
        font-size: 1.2em;
        width: 100%;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        justify-content: space-between;

        .left {
        	width: 48%;
        	height: auto;
          padding-top: 1em;
          padding-top: 3em;
        }

        .right {
          width: 48%;
        	height: auto;
          padding-top: 1.5em;
        }
      }
    }
  }
}

@media only screen
and (min-width : 1700px) {

  .content {
    padding-top: 2em;

    .text-section {
      margin-bottom: 6em;
    }

    #home-page {
      padding-top: 6em;
      min-height: 0;
    }
  }
}
