.ordinary-page {
  margin: 0 5em;
  padding: 0 4em;

  .text-section {
    margin-bottom: 4em;
  }

  .page-divider {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80%;
    }
  }

  .image-wrapper {
    text-align: justify;
    width: 40%;
    float: left;
    height:auto;
    margin: 0 20px 20px 0;

    .img {
      display: block;
    }
  }

  .image-wrapper-right {
    text-align: justify;
    width: 40%;
    float: right;
    height:auto;
    margin: 0 0 20px 20px;

    .img {
      display: block;
    }
  }

  .vertical-img{
    float: left;
    width: 40%;
    height:auto;
    margin: 0 20px 20px 0;
  }

  .vertical-img-right {
    float: right;
    width: 40%;
    height:auto;
    margin: 0 0 20px 20px;
  }


  .horisontal-img {
    float: right;
    width: 50%;
    height: auto;
    margin: 0 0 20px 20px;
  }

  .horisontal-img-left {
    float: left;
    width: 50%;
    height: auto;
    margin: 0 20px 20px 0;
  }

  .sign {
    font-size: 0.7em;
  }

  h2 {
    text-align: center;
  }

  .header-message {
    text-align: right;
  }


  .text-wrapper {
    text-align: justify;
    text-indent: 2em;
  }

  #header-image {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .ordinary-page {
    margin: 0 0em;
    padding: 0 0em;

    h1 {
      font-size: 0.85em;
    }

    h2 {
      font-size: 1em;
      color: $red-color;
    }

    .image-wrapper, .vertical-img, .image-wrapper-right, .horisontal-img, .vertical-img-right, .horisontal-img-left {
      width: 100%;
    }

    .page-devider {
      img {
        width: 100%;
      }
    }
  }
}
