/*-----MAIN-------------*/
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lora',serif;
  font-size: 1em;
}

input {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}


/* #D0021B */

/*-----TYPOGRAPHY-------*/

h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}


/*-----NAVIGATION-------*/

/*-----navigation-------*/
.navbar nav {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 90%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #f2f2f2;
  transform: translate(-100%, 0);
  transition: transform 0.2s linear;
  display: flex;
  flex-dirextion: column;
}

.navbar nav.active {
  transform: translate(0, 0);
}

.navbar ul {
  display: flex;
  flex-direction: column;
  margin: 100px 0 0 0px;
  padding: 0;
  margin-left: 5em;
}
.navbar ul li {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.navbar a {
  padding: 5px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 450;
  transition: all 0.0625s linear;
  /*margin-left: 1em;*/
}
.navbar a:hover {
  cursor:pointer;
  opacity: 0.5;
}

/*-----header-----------*/

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: transparent;
  width: 8.5em;
  height: auto;
  z-index: 500;
  text-align: center;
  position: absolute;
  top: 1em;
  left: 2em;
}

.home-link {
  color: #1D1D1B;
}

.home-link h2 {
  font-size: 2rem;
}

.header .home-link h2:hover {
  opacity: 0.5;
}

/*-----menu-button------*/


/*-----sidebar----------*/

/*-----social-links-----*/

.social-links {
  position: absolute;
  bottom: 0;
  background-color: pink;
  margin-left: 5em;
}

.icons {
  text-decoration: none;
  background-color: transparent;
  width: 1.4em;
  height: auto;
}


/*-----CONTENT----------*/

/*-----contacts---------*/
.contacts-wrapper {
  margin: 2% 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
}

.contacts-info {
  grid-column: 2 / 4;
  grid-row: 1;
}

.yandex-map {
  grid-column: 2;
    grid-row: 2;
}

.youtube {
  grid-column: 3;
  grid-row: 2;
}

/*-----shcedule---------*/

.schedule {
  width: 100%;
  max-width: 1000px;
  margin: auto auto 2em auto;
  border: 1px solid #654491;
  border-color: white;
}

.schedule th {
  text-align: left;
  padding: 0.5em 0.5em;
  margin-bottom: 2.5em;
}
.schedule th h3, h4 {
  color: #D0021B;
  border-bottom: 1px solid;
  padding-left: 50px;
}

.schedule h3 {
  font-weight: bold;
}

.schedule tbody td:first-child {
  text-align: center;
}
.schedule tr td:first-child {
  font-weight: bold;
  width: 150px;
}
.schedule td {
  padding: 0.5em;
}
.schedule td strong {
  text-transform: uppercase;
}

.schedule-wrapper {
  margin: 2% 2%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: minmax(100px, auto);
}

/*-----FOOTER-----------*/

footer {
  min-height: 100px;
  background: white;
  border-top: 1px solid;
  padding-top: 1em;
}

footer .main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

footer .bottom {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

footer .bottom  a {
  display: flex;
  height: 80px;
}

/*-----MEDIA------------*/

@media (max-width: 600) {

  header .title {
    font-size: 2.5em;
  }

}

@media (min-width: 600) {

  header .title {
    font-size: 2.5em;
  }

}

/*@media (min-width: 320) {


  header .title {
    font-size: .5em;
  }

}

@media (min-width: 766px) {
  .schedule p.date {
    float: right;
  }

  header .title {
    font-size: 2.5em;
  }

}

@media (max-width: 500px) {
  .schedule p.date {
    float: right;
  }

  header .title {
    font-size: 1.5em;
  }

  .schedule tr td:first-child {
    width: 15%;
  }
}*/
